*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
html {
  scroll-behavior: smooth;
}

.name-font {
  font-family: 'VT323', monospace;
  font-size: 50px;
}

body { 
    overflow-y: scroll;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;
}

.header {
    overflow: hidden;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #ebedf3;
  }
  
  .header a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 3px 14px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  .txt-right {
    text-align: right;
}
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.w-25 {
    width: 25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-100 {
    width: 100%;
}

.left {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0, -50%);
  width: 35%;
  border-style: solid;
}
.left {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0, -50%);
  width: 35%;
  border-style: solid;
}

.pSpaces {
  line-height: 2 ;
  margin-top: 0 ;
  margin-bottom: 0 ;
}

.vh-100 {
	min-height: 100vh;
}
.vh-75 {
	min-height: 75vh;
}
.vh-50 {
	min-height: 50vh;
}
.vh-25 {
	min-height: 25vh;
}

.container {
width: 100%;
float: left;
position: relative;
}

#home{
    background-color: #0583d2;
}
#projects{
  background-color:#45b6fe;
}
#experience{
  background-color:#45b6fe;
}
#connect{
    background-color:#45b6fe;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}



.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  color: #ebedf3;
}

.section-subhead {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 420px;
  font-size: 18px;
  color: #ebedf3;
}



.icons-container {
  padding-top: 2rem;
  max-width: 450px;
  display: flex;
  justify-content: space-evenly;
}
.logo-container {
  padding: 1rem;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: white;
  border-radius: 2rem;
}

.img {
  width: 31px;
  height: 31px;
}
.logo {
  height: 8rem;
}


.center-text {
  text-align: center;
  margin: auto;
}

.center {
  padding-top: 1.5rem;
}
.center-connection {
  padding-top: 6rem;
}

.text-bolder
{
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  margin: 1rem;
  color: #ebedf3;
}

.text-bold
{
  font-size: 36px;
  line-height: 55px;
  font-weight: 800;
  margin: 1rem;
  color: #ebedf3;
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90rem;
  width: 92%;
}

.intro-text {
  margin: 3rem auto 0 auto;
  max-width: 67rem;
  font-size: 25px;
  color: #ebedf3;
}

.intro-header {
  font-size: 4rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 3px; */
  text-align: center;
  color: #ebedf3;
}

.copyright {
      padding: 4rem 0 0 0;
      color: #ebedf3;
      font-size: 0.8rem;
      text-align: left;
}



.skills {
  position: absolute;
  width: 100%;
}


.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2rem;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 1rem 2rem;
  display: none;
  background-color: white;
  overflow: hidden;
  text-align: left;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 999;
  font-size: 3rem;
  border: none;
  outline: none;
  color: #ebedf3;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: transparent;
}

.tab {
  float: left;
  border-left: 2px solid white;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #ebedf3;
  padding: 30px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */


/* Create an active/current "tab button" class */
.tab button.active {
border-bottom: 2px solid white;
color: #003366;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 1rem;
  width: 75%;
  box-sizing: border-box;
  text-align: left;
  color: #ebedf3;
  font-size: 16px;
}

.pSpaces-15 {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.margin-left{
  margin-left: 2rem;
}

ul{
  list-style-type: square;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -o-column-count: 4;
   column-count: 4; 
 } 

 .grid-container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.btm-2 {
  bottom: 2rem;
}

.btm-4 {
  bottom: 4rem;
}

.btm-10 {
  bottom: 10rem;
}


.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
}

.flex-container div {
  margin: 5px;
  width: 50%
}

.content {
  width: 50%;
  background: rgba(255,255,255, 0.6);
  padding: 20px;
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.content img {
  margin-right: 30px;
  float: left;
  height: 10rem;
}

.content h3,
.content p{
  margin-left: 2rem;
  display: block;
  margin: 4px 0 0 0;
  text-align: left;
}